.listCumRap {
    margin-bottom: 0;
    transition: all 0.2s;
    padding-inline-start: 0px;
    .cumRap__item {
        color: black;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin-bottom: -1px;
        padding: 15px 0px 10px 20px;
        min-height: 92px;
        .lichChieu {
            overflow: hidden;
            transition: all 0.2s;
            margin-top: 10px;
        }
        .showHideRender {
            overflow: hidden;
            transition: all 0.4s;
        }
        .infoTheater {
            height: 50px;
            overflow: hidden;
            margin-bottom: 10px;
            h6 {
                display: inline;
                height: 100%;
                // margin-bottom: 15px;
                padding-bottom: 30px;
                padding-left: 10px;
            }
        }
        p {
            line-height: 1.7;
            font-size: 13px;
            color: #9b9b9b;
        }
    }
    .listDayTime__content {
        overflow-x: scroll;
        overflow-y: hidden;
        // position: relative;
        .listDayTime {
            // position: absolute;
            // top: 0;
            // left: 0;
            display: flex;
            color: black;
            list-style: none;
            height: 77px;
            padding-inline-start: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            .dayTimeItem {
                overflow: hidden;
                cursor: pointer;
                color: black;
                background-color: #fff;
                margin-bottom: -1px;
                line-height: 55px;
                // padding: 15px 5px 10px 5px;
                min-height: 50px;
                min-width: 92px;
                .btn__day {
                    font-size: 18px;
                    font-weight: 600;
                    height: 100%;
                    width: 100%;
                    background-color: #fff;
                    border: none;
                    outline: none;
                }
                .btn__day__active {
                    color: red;
                }
            }
        }
    }
}

.listDayTime__content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
}

.listDayTime__content::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}
.listDayTime__content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0a2029;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#cac6c6), to(#cac6c6), color-stop(0.6, #cac6c6));
}
