.BHDStar {
    color: #8bc541;
}
.CGV {
    color: red;
}
.CineStar {
    color: #df0d7a;
}
.Galaxy {
    color: #dd8fb7;
}
.MegaGS {
    color: #e5a813;
}
.LotteCinima {
    color: #ca4137;
}
.titleTheater {
    margin-bottom: 0;
}
.addressTheater {
    line-height: 1.7;
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 0;
}
