.loading {
    // text-align: center;
    // position: relative;
    // height: 100px;
    text-align: center;
    padding: auto;
    align-items: center;
    margin-top: 15%;
    .loading__img {
        width: 15%;
        height: auto;
        animation: shake 3s normal 0s infinite;
    }
}
@keyframes shake {
    from {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 7deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -7deg);
    }
    to {
        opacity: 0.5;
        transform: scale3d(1, 1, 1);
    }
}
